<!DOCTYPE html>
<html>
  <head>
    <title>Progate1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to "TeetApp",root_path %>
      </div>
      <ul class="header-menus">
        <li>
           <%= link_to "TweetAppとは", home_index_path%> 
        </li>
        <li>
         <%= link_to "投稿一覧",posts_path %>
        </li>
        <li>
        <%= link_to "新規投稿",new_post_path %>
        </li>
        <li>
        <%= link_to "ユーザー一覧",users_path %>
        </li>
        <li>
          <%= link_to "新規登録",new_user_path%>
      </ul>
    </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
